@use "sass:math";
@import "fibonacci-styles";

$transition-lapse: $fib-7 * 0.01s ease-in-out !default;
$default-height: $fib-8 * 1px !default;
$active-height: $fib-9 * 1px !default;
$small-font-size: $fib-6 * 1px !default;
$default-color: find-fib-color(success);
$error-color: find-fib-color(error);
$margin-bounds: $fib-6 * 1px;

a {
    text-decoration: none;
}

button {
    width: fit-content;
    height: $default-height;
    color: $default-color;
    background: transparent;
    border: none;
    padding: 0px;

    transition: height $transition-lapse,
                opacity $transition-lapse;

    &:hover {
        cursor: pointer;
    }
}

input {
    height: 100%;
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    font-size: 1em;
    z-index: 1;
}

.active, .large {
    min-height: $active-height;

    button {
        height: $active-height;
    }
}

.border-line {
    @extend .round-corners, .fib-5;
    border: $fib-2 * 1px solid;
    border-color: $default-color;

    &.error {
        border-color: $error-color;
    }
}

.input-container {
    @extend .border-line;

    display: flex;
    width: 100%;
    min-height: $default-height;
    transition: min-height $transition-lapse,
                background $transition-lapse;

    label {
        opacity: $fib-9 * 1%;
        transition: font-size $transition-lapse,
                    line-height $transition-lapse;
    }
}

.error-container {
    padding-bottom: $margin-bounds;
    color: $error-color;
    
    span {
      font-size: $small-font-size;
      font-weight: 600;
    }
}