@import "fibonacci-styles";

#input-container {
    position: relative;
    display: flex;
    align-items: center;
  
    height: $fib-8 * 1px;
    overflow: hidden;
  
    border: $fib-1 * 1px solid;
    border-color: find-fib-color(success) !important;
    transition: border-color $fib-8 * 0.01s,
                color $fib-8 * 0.01s,
                height $fib-7 * 0.01s;
  
    &.error {
        border-color: find-fib-color(error) !important;
    }
  
    &:hover {
        border: $fib-2 * 1px solid;
    }
  
    &:focus-within, &.focused{
        align-items: flex-end;
  
        height: $fib-9 * 1px;
        border: $fib-2 * 1px solid;
    }
}


#placeholder-container {
    display: flex;
    position: absolute;
    align-items: center;
  
    height: 100%;
    width: 100%;
    z-index: -1;
  
    label {
        font-size:  medium;
        opacity: $fib-9 * 1%;

        transition: font-size $fib-8 * 0.01s;
    }
  
    &.focused {
        align-items: flex-start;

        label {
            font-size:  smaller;
        }
    }
}